process {
    executor = 'local'           // Specify the local executor
    cpus = 2                     // Number of CPUs for each process
    memory = '4 GB'              // Maximum memory allocation for each process
    time = '1h'                  // Maximum runtime for each process
    errorStrategy = 'retry'      // Retry the process on failure
    maxRetries = 2               // Maximum retries allowed
}

workDir = './work'               // Directory for temporary files
report {
    enabled = true               // Generate an HTML report
    overwrite = true		 // Overwrite report
    file = 'report.html'         // Name of the report file
}

timeline {
    enabled = true               // Generate a timeline of process execution
    overwrite = true
    file = 'timeline.html'       // Name of the timeline file
}

trace {
    enabled = true               // Enable tracing of process execution
    overwrite = true
    file = 'trace.txt'           // Name of the trace file
}

log {
    enabled = true               // Enable logging
    file = 'nextflow.log'        // Name of the log file
}

params {
    inputDir = './data'          // Directory containing input files
    outputDir = './results'      // Directory for output files
    inputFile = './data/*'	 // Define the input file(s)
}
